<h1>Firefighter</h1>
<br>
<table class="table">
    <tr>
        <th>Currently:</th>
        <td class="text-right">{% include 'helper/user.html.twig' %}</td>
    </tr>
    <tr>
        <th>Days left:</th>
        <td class="text-right">{{ firefighter.activeTo|daysUntil }}</td>
    </tr>
    <tr>
        <th>From:</th>
        <td class="text-right">{{ firefighter.activeFrom|dateFormat }}</td>
    </tr>
    <tr>
        <th>To:</th>
        <td class="text-right">{{ firefighter.activeTo|dateFormat }}</td>
    </tr>
    <tr>
        <th>Up Next:</th>
        <td class="text-right">{% include 'helper/user.html.twig' with {firefighter: null} %}</td>
    </tr>
</table>