{% extends 'base.html.twig' %}

{% block center %}
    <h1>Incident reports</h1>

    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Number</th>
            <th class="text-right">Issued</th>
            <th class="text-right">Resolved</th>
            <th class="text-right">Status</th>
        </tr>
        </thead>
        <tbody>
    {% for buzz in buzzes %}
        <tr>
            <td>
                <a href="{{ path('default_details', {buzz: buzz.id}) }}">
                    #{{ buzz.id }}
                </a>
            </td>
            <td class="text-right">{{ buzz.issueDate|datetimeFormat }}</td>
            <td class="text-right">{{ buzz.resolveDate|datetimeFormat }}</td>
            <td class="text-right">{% include 'helper/status.html.twig' with {status: buzz.status} %}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}