body {
    padding-top: 20px;
}

.container-wrapper {
    padding: 40px 20px;
}

.status0 {
    background-color: #f0ad4e;
    color: white;
}

.status1 {
    background-color: lightblue;
    color: black;
}

.status2 {
    background-color: black;
    color: white;
}

.status3 {
    background-color: red;
    color: white;
}

footer div.text-muted {
    margin: 20px 0;
}

nav a.navbar-brand {
    margin-right: 20px;
}

.no-padding {
    padding: 0;
    padding-left: 15px;
}